# Created by .ignore support plugin (hsz.mobi)
.idea/$CACHE_FILE$
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/compiler.xml
.idea/dictionaries
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
IM.iml
target/
